<ng-container [formGroup]="form">
    <div class="__form_control_container__">
        <div class="__input_and_label_container__">
            <input autocomplete="off" cr_input type="email" formControlName="email" class="form-control" id="email" aria-label="Email Input Field">
            <label for="email">Email</label>
        </div>
        <div class="__formcontrol_status__">ok</div>
    </div>
    <div class="__form_control_container__">
        <div class="__input_and_label_container__">
            <input autocomplete="off" cr_input type="password" formControlName="password" class="form-control" id="password" aria-label="Password Input Field">
            <label for="password">Password</label>
        </div>
        <div class="__formcontrol_status__">ok</div>
    </div>
</ng-container>